@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
 margin:0;
 padding:0;
 font-family:'spartan',sans-serif;
 box-sizing: border-box;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h1{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #456b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    padding: 40px 0px;
}
button.normal{
 font-size: 14px;
 font-weight: 600;
 padding: 15px 30px;
 color: black;
 background-color: white;
 border-radius: 4px;
 cursor: pointer;
 border: none;
 outline: none;
 transition: 0.2s;
}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
   color: black;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#hero{
    background-image: url("https://wallpaperaccess.com/full/2593043.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h2{
    color: aquamarine;
}
#hero p{
    color: aqua;
}

#hero button{
    background-color: transparent;
    border: 2px solid black;
    padding: 14px 40px 14px 45px;
    font-weight: 700;
    font-size: 15px;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

#feature .fe-box{
   width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
   border: 2px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
 }
 #feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: lightpink;
 }
#feature .fe-box:nth-child(2) h6{
 background-color: lightgreen;
 }
#feature .fe-box:nth-child(3) h6{
    background-color: lightblue;
  }
#feature .fe-box:nth-child(4) h6{
        background-color: plum;
 }
 #feature .fe-box:nth-child(5) h6{
    background-color: orange;
    }
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid lightseagreen;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
text-align: start;
padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: yellow;
}

#product1 .pro .des h4{
    padding-top: 7px;
    color: #088178;
    font-size: 14px;
    font-weight: 700;
}
#product1 .pro button{
    line-height: 30px;
    border-radius: 2px;
    background-color: lightcoral;
    font-weight: 500;
    color: black;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp-lv2W9RvMZz3ih9810nG6Bsl5E_D6SQJaw&usqp=CAU");
} 
#banner h4{
    font-size: 16px;
}
#banner h2{
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}
#banner button:hover{
    background-color: #088178;
    color: white;

}
#newsletter{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 background-image: url();
 background-repeat: no-repeat;
 background-position: 205 305;
 background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: yellow;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #041e42;
    margin-bottom: 10px;
}
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
.cart{
    width: 250px;
    float: right;
    text-align: center;
    border: 1px solid black;
    overflow-y: scroll;
    height: 100%;
}

 @media(max-width:800px){
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
} 